.header {
  // Make sure that .header and .main-inner are the same height
  // Required for .sidebar `position: sticky;`
  align-self: stretch;
}

.header-inner {
  background: var(--content-bg-color);
  border-radius: $border-radius-inner;
  box-shadow: $box-shadow-inner;
  width: $sidebar-desktop;

  +tablet-mobile() {
    border-radius: initial;
    width: auto;
  }
}

.main {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  main-container();

  if (hexo-config('sidebar.position') == 'right') {
    flex-direction: row-reverse;
  }

  +tablet-mobile() {
    display: block;
    width: auto;
  }
}

.main-inner {
  align-self: stretch;
  background: var(--content-bg-color);
  border-radius: $border-radius-inner;
  box-shadow: $box-shadow-inner;
  box-sizing: border-box;
  padding: $content-desktop-padding;
  width: $content-wrap;

  +tablet-mobile() {
    border-radius: initial;
    padding: 20px;
    width: 100%;
  }
}

.content {
  padding-top: 40px;
}

.footer-inner {

  if (hexo-config('sidebar.position') == 'right') {
    padding-right: $sidebar-desktop + $sidebar-offset;
  } else {
    padding-left: $sidebar-desktop + $sidebar-offset;
  }

  +tablet-mobile() {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}
// 以下为新增代码！！
header{ width: 90% !important; }
header.post-header {
  width: auto !important;
}
.container .main-inner { width: 90%; }
.content-wrap { width: calc(100% - 260px); }

.header {
  +tablet() {
    width: auto !important;
  }
  +mobile() {
    width: auto !important;
  }
}

.container .main-inner {
  +tablet() {
    width: auto !important;
  }
  +mobile() {
    width: auto !important;
  }
}

.content-wrap {
  +tablet() {
    width: 100% !important;
  }
  +mobile() {
    width: 100% !important;
  }
}